@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
*, p, h1, h2, h3, h4, h5, h6, a, button, input, textarea, label, i, ul, li, dl, dt, dd {
  font-family: "Pretendard";
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.bi-chevron-up {
  opacity: 0.6;
  cursor: pointer;
  margin-top: 4px;
  transition: 0.2s ease-in;
}
.bi-chevron-up.hide {
  transition: 0.2s ease-out;
  transform: rotate(180deg);
}
.bi-chevron-up:hover {
  opacity: 1;
}

#background {
  background: linear-gradient(to bottom, transparent 23px, #3d3d3d 23px) 0 0/200vw 24px repeat-y, linear-gradient(to right, transparent 23px, #3d3d3d 23px) 0 0/24px 200vh repeat-x #333333;
  position: absolute;
  width: 200vw;
  height: 200vh;
  margin: 0;
}

.cursor {
  position: absolute;
  width: 10px; /* 커서 크기 조정 */
  height: 10px; /* 커서 크기 조정 */
  background: red; /* 커서 색상 */
  border-radius: 50%; /* 원형으로 만들기 */
  pointer-events: none; /* 클릭 이벤트 차단 */
  z-index: 1000; /* 다른 요소 위에 표시 */
  transition: transform 0.1s linear;
}
.cursor span {
  position: relative;
  top: 8px;
  word-break: keep-all;
}

.node-image {
  max-width: 100%; /* 이미지가 박스를 넘어가지 않도록 조정 */
  height: auto; /* 비율 유지 */
}

.moving {
  border-color: yellow; /* 움직이는 동안 테두리 색상 변경 */
  border-width: 3px; /* 테두리 두께 변경 */
}

.btn-primary {
  padding: 8px 16px;
  background: #00aeff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}
.btn-primary:hover {
  background: #0077cc;
}

#ui {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: fixed;
  min-width: 500px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1000;
  border-radius: 0 0 2rem 0;
}
#ui * {
  color: white;
}

h1 {
  font-size: 2.75rem;
  letter-spacing: -1px;
}

input, textarea {
  background-color: #252525 !important;
}
input:hover, textarea:hover {
  background-color: #313131 !important;
  border-color: #00aeff !important;
}

#form-ID {
  padding: 3rem 0 3rem 3rem;
}
#form-ID .head {
  margin-bottom: 1.25rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#form-ID #projectForm {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0rem;
  overflow: hidden;
  padding-bottom: 0.5rem;
}
#form-ID #projectForm input {
  background-color: transparent !important;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: none;
  padding: 0px 0px;
  margin-right: 0.75rem;
}
#form-ID #projectForm label {
  font-size: 0.85rem;
  word-break: keep-all;
  min-width: 80px;
  display: none;
}
#form-ID #projectForm input::-moz-placeholder {
  font-weight: 300;
  color: #ffffff;
  opacity: 0.25;
}
#form-ID #projectForm input::placeholder {
  font-weight: 300;
  color: #ffffff;
  opacity: 0.25;
}
#form-ID #projectForm .btn {
  font-size: 0.75rem;
  margin: 0;
  min-width: 100px;
  border-radius: 5rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.4);
}
#form-ID #projectList {
  margin-top: 1rem;
  overflow: hidden;
  transition: 0.2s ease-in;
  height: -moz-fit-content;
  height: fit-content;
}
#form-ID #projectList.deActive {
  transition: 0.2s ease-out;
  height: 1px;
}
#form-ID #projectList h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
#form-ID #projectList .nav {
  overflow: hidden;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}
#form-ID #projectList .nav .nav-link {
  font-size: 1.2rem;
  background-color: #252525;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease-in;
}
#form-ID #projectList .nav .nav-link.active {
  color: white;
  background-color: #00aeff;
  border-color: transparent;
}
#form-ID #projectList .nav .nav-link.active:hover {
  color: white;
}
#form-ID #projectList .nav .nav-link:hover {
  transition: 0.2s ease-in;
  color: #00aeff;
  border-color: transparent;
}
#form-ID #projectList .tab-pane {
  margin: 2rem 2rem 0.5rem 0.25rem;
}
#form-ID #projectList .tab-pane .state {
  min-height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#form-ID #projectList .tab-pane .state p {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.35);
  margin-bottom: 0.75rem;
}
#form-ID #projectList .funcBtn {
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  background-color: #00aeff;
  color: white;
  margin-top: 1rem;
  padding: 0.65rem 1rem 0.5rem;
  font-size: 1.25rem;
}
#form-ID #projectList .collapse {
  transition: 0.2s ease-in;
  margin: 0.75rem 0 2rem;
}
#form-ID #projectList .collapse .card {
  transition: 0.15s ease-in;
  border-radius: 1rem;
  background-color: transparent;
}
#form-ID #projectList #projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
#form-ID #projectList #projects .project {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #1f1f1f;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.2s ease-in;
}
#form-ID #projectList #projects .project .info {
  display: flex;
}
#form-ID #projectList #projects .project .info img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
#form-ID #projectList #projects .project .action {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 1rem 1.5rem;
}
#form-ID #projectList #projects .project .action .projName {
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.75);
}
#form-ID #projectList #projects .project .action .btns {
  transition: 0.2s ease-in;
  height: 0px;
  opacity: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
}
#form-ID #projectList #projects .project .action .btns .btn {
  display: flex;
  flex: 0.5;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  border: none;
  color: #00aeff;
  transition: 0.2s ease-in;
}
#form-ID #projectList #projects .project .action .btns .btn:hover {
  transition: 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.15);
}
#form-ID #projectList #projects .project .action .btns .btn:last-of-type {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  color: #ff3c00;
}
#form-ID #projectList #projects .project:hover, #form-ID #projectList #projects .project.active {
  transition: 0.2s ease-in;
  border: 1px solid rgba(255, 255, 255, 0.4);
  opacity: 1;
}
#form-ID #projectList #projects .project:hover .btns, #form-ID #projectList #projects .project.active .btns {
  transition: 0.2s ease-out;
  height: 36px;
  opacity: 1;
}
#form-ID #projectList #projects .project.active {
  transition: 0.2s ease-out;
  border: 1px solid #00aeff;
  background-color: #292929;
}
#form-ID #projectList #projects .project.active .btn {
  transition: 0.2s ease-out;
}
#form-ID #projectList #projects .project.active .btn:first-of-type {
  color: rgba(255, 255, 255, 0.35);
}

#nodeForm {
  transition: ease-in-out 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.6);
  cursor: grab;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1rem;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  overflow: hidden;
}
#nodeForm:hover {
  border: 1px solid #00aeff;
}
#nodeForm #loadingIndicator {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#nodeForm #loadingIndicator .spinner-border {
  zoom: 2;
}
#nodeForm .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#nodeForm .head h3 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.85);
  width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#nodeForm .head svg {
  margin-top: 0;
}
#nodeForm form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0.75rem;
  overflow: hidden;
  transition: 0.2s ease-in;
  opacity: 1;
  height: -moz-fit-content;
  height: fit-content;
}
#nodeForm form.deActive {
  transition: 0.2s ease-out;
  opacity: 0;
  height: 0px;
}
#nodeForm input, #nodeForm textarea {
  border-radius: 1.5rem;
  border: none;
  border-width: 1px;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 6px 20px;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.75);
}
#nodeForm textarea {
  resize: none;
  min-height: 200px;
  padding: 12px 20px;
}
#nodeForm label {
  font-size: 0.85rem;
  word-break: keep-all;
  min-width: 80px;
  display: none;
}
#nodeForm input::-moz-placeholder, #nodeForm textarea::-moz-placeholder {
  font-weight: 300;
  color: #ffffff;
  opacity: 0.25;
}
#nodeForm input::placeholder, #nodeForm textarea::placeholder {
  font-weight: 300;
  color: #ffffff;
  opacity: 0.25;
}
#nodeForm .btn {
  font-size: 0.9rem;
  margin: 0;
  min-width: 100px;
  width: 100%;
  border-radius: 5rem;
  padding: 1rem 2rem;
}

.node-box {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: ease-in-out 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.6);
  cursor: grab;
  border-radius: 1rem; /* 박스 모서리 둥글게 */
  width: 200px; /* 박스 너비 */
  position: absolute; /* 위치 조정 가능하도록 설정 */
  cursor: grab;
  overflow: hidden;
  background: rgb(17, 17, 17);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column-reverse;
}
.node-box.before {
  border: 2px solid #00aeff;
  min-width: 240px;
}
.node-box:hover {
  border: 1px solid #00aeff;
}
.node-box .btn-wrap-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  border-radius: 10rem;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: 0.2s ease-in;
}
.node-box .btn-wrap-close .btn-close {
  margin: 4px;
  font-size: 0.75rem;
}
.node-box .btn-wrap-close .btn-close:focus {
  box-shadow: none;
}
.node-box .btn-wrap-close:hover {
  transition: 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0.6);
}
.node-box .btnImgExpand {
  position: absolute;
  top: 176px;
  right: 4px;
  margin: 0.25rem;
  border-radius: 10rem;
  background-color: rgba(63, 63, 63, 0.65);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: 0.2s ease-in;
}
.node-box .btnImgExpand:hover {
  transition: 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0.65);
}
.node-box .node-func {
  padding: 0.75rem;
}
.node-box .node-func.hide {
  display: none;
}
.node-box .node-func .info {
  margin-bottom: 0.5rem;
  width: 100%;
}
.node-box .node-func .info p {
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.4);
}
.node-box .node-func .info .prompt {
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.85);
}
.node-box .node-func form {
  margin: 1rem 0;
}
.node-box .node-func form label {
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}
.node-box .node-func form textarea {
  min-height: 100px;
}
.node-box .node-func form .plus {
  width: 100%;
  display: flex;
  justify-content: center;
}
.node-box .node-func form .plus i {
  font-size: 2rem;
  font-style: normal;
  color: #00aeff;
}
.node-box .node-func .action {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}
.node-box .node-func .action a {
  opacity: 0.5;
}
.node-box .node-func .action .btn {
  font-size: 0.75rem;
  width: 100%;
  margin: 0;
  padding: 0.25rem 0.55rem;
  text-align: center;
}
.node-box .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 328px;
}
.node-box .loading.hide {
  display: none;
}
.node-box .node-image {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.svg-container {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  pointer-events: none;
}

.animated-dash {
  stroke-dasharray: 5;
  stroke: #666;
  stroke-width: 2;
  animation: dashAnimation 2s infinite linear;
}

@keyframes dashAnimation {
  to {
    stroke-dashoffset: -10;
  }
}
#btn-offcanvas-sign {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

#SignOffcanvas .offcanvas-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#SignOffcanvas .offcanvas-header h1 {
  margin-bottom: 3rem;
}
#SignOffcanvas .offcanvas-body {
  padding: 0 !important;
}
#SignOffcanvas #LogOut {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
#SignOffcanvas #LogOut h3 {
  margin-bottom: 1rem;
}
#SignOffcanvas #LogOut .btn {
  width: 100%;
  color: #ff3c00;
}

.modal-backdrip {
  -webkit-backdrop-filter: blur(8px) !important;
          backdrop-filter: blur(8px) !important;
  background-color: rgba(0, 0, 0, 0.4);
  --bs-backdrop-opacity: unset;
}

#ImgExpandModal .btn-wrap-close {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  margin: 1rem;
  border-radius: 10rem;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: 0.2s ease-in;
}
#ImgExpandModal .btn-wrap-close .btn-close {
  margin: 0.5rem;
  font-size: 1.25rem;
}
#ImgExpandModal .btn-wrap-close .btn-close:focus {
  box-shadow: none;
}
#ImgExpandModal .btn-wrap-close:hover {
  transition: 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0.6);
}
#ImgExpandModal .modal-content {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border: 1px solid #00aeff;
  border-radius: 2rem;
}
#ImgExpandModal .modal-content .modal-body {
  padding: 0;
}
#ImgExpandModal .modal-content .modal-body img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#ImgExpandModal .modal-content .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}
#ImgExpandModal .modal-content .modal-footer .info {
  max-width: 520px;
}
#ImgExpandModal .modal-content .modal-footer .info p {
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}
#ImgExpandModal .modal-content .modal-footer .info p span {
  color: #00aeff;
}
#ImgExpandModal .modal-content .modal-footer .info #expandModalPrompt {
  font-size: 1.25rem;
}
#ImgExpandModal .modal-content .modal-footer .btnGroup {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
#ImgExpandModal .modal-content .modal-footer .btnGroup .btn {
  width: 150px;
  height: 45px;
}
#ImgExpandModal .modal-content .modal-footer .btnGroup .btn:first-of-type {
  margin: 0;
  margin-bottom: 0.75rem;
}/*# sourceMappingURL=style.css.map */