@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


$pointColor: #00aeff;
$pointHoverColor: #0077cc;

$warningColor: #ff3c00;

*, p, h1, h2, h3, h4, h5, h6, a, button, input, textarea, label, i, ul, li, dl, dt, dd{
    font-family: 'Pretendard';
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


@mixin unDrag{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@mixin node{
    transition: ease-in-out 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.6);

    &:hover{
        border: 1px solid $pointColor;
    }
}


#background{

    background:
        linear-gradient(to bottom, transparent 23px , #3d3d3d 23px) 0 0 / 200vw 24px repeat-y,
        linear-gradient(to right, transparent 23px, #3d3d3d 23px) 0 0 / 24px 200vh repeat-x
        #333333;

    position: absolute;
    cursor: grab;

    width: 200vw;
    height: 200vh;

    margin: 0;
}



.cursor {
    position: absolute;
    width: 10px; /* 커서 크기 조정 */
    height: 10px; /* 커서 크기 조정 */
    background: red; /* 커서 색상 */
    border-radius: 50%; /* 원형으로 만들기 */
    pointer-events: none; /* 클릭 이벤트 차단 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

// .node-box {
//     border: 2px solid #ccc; /* 박스 테두리 */
//     border-radius: 5px; /* 박스 모서리 둥글게 */
//     padding: 10px; /* 안쪽 여백 */
//     margin: 10px; /* 박스 간격 */
//     display: inline-block; /* 인라인 블록으로 나란히 배치 */
//     width: 150px; /* 박스 너비 */
//     text-align: center; /* 텍스트 가운데 정렬 */
//     position: absolute; /* 위치 조정 가능하도록 설정 */
//     cursor: move; /* 마우스 커서를 드래그 가능으로 변경 */
// }

.node-image {
    max-width: 100%; /* 이미지가 박스를 넘어가지 않도록 조정 */
    height: auto; /* 비율 유지 */
}

.moving {
    border-color: yellow; /* 움직이는 동안 테두리 색상 변경 */
    border-width: 3px; /* 테두리 두께 변경 */
}


.btn-primary{
    padding: 8px 16px;
    background: #00aeff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;

    &:hover {
        background: #0077cc;
    }
}


#ui {
    @include unDrag;


    position: fixed;
    min-width: 500px;
    // height: 100vh;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    z-index: 1000;

    border-radius: 0 0 2rem 0;

    //padding: 2rem;

    *{
        color: white;
    }

    h1{
        font-size: 2.25rem;
        margin-bottom: 12px;
        //padding: 0 0.25rem;
        letter-spacing: -1px;
    }
}

input, textarea{
    background-color: #252525 !important;

    &:hover{
        background-color: #313131 !important;
        border-color: #00aeff !important;
    }
}



#form-ID{
    padding: 2rem;
    //border-bottom: 1px solid rgba(255,255,255,0.1);

    #projectForm{
        
        width: 100%;
        display: flex;
        align-items: center;

        border-radius: 0rem;
        overflow: hidden;

        //border-bottom: 1px solid rgba(255,255,255,0.25);
        padding-bottom: 0.5rem;

        
        input{
            background-color: transparent !important;
            // background-color: #252525;

            border-radius: 0px;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,0.25);
            //border-width: 1px;
            box-shadow: none;

            padding: 0px 0px;

            margin-right: 0.75rem;
        }



        label{
            font-size: 0.85rem;
            word-break: keep-all;
            min-width: 80px;

            display: none;
        }
        input::placeholder {
            font-weight: 300;
            color: #ffffff;
            opacity: 0.25;
        }
        

        .btn{
            font-size: 0.75rem;
            margin: 0;
            min-width: 100px;
            //height: 32px;
            border-radius: 5rem;

            background-color: transparent;
            border: 1px solid rgba(255,255,255,0.25);
            color: rgba(255,255,255,0.4);
        }
    }
}




#nodeForm{
    @include node;
    // top: 30vh !important;
    // left: 30vw !important;

    position: absolute;

    width: fit-content;
    min-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    
    border-radius: 1rem;
    padding: 1.5rem;
    //overflow: hidden;

    //border: 1px solid rgba(255,255,255,0.25);


    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);

    h3{
        font-size: 1.5rem;
        color: rgba(255,255,255,0.85);
        margin-bottom: 0.75rem;

        width: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    
    input, textarea{
        // background-color: transparent;
        // background-color: #252525;

        border-radius: 1.5rem;
        border: none;
        //border-bottom: 1px solid rgba(255,255,255,0.25);
        border-width: 1px;
        box-shadow: none;
        
        border: 1px solid rgba(255,255,255,0.25);

        padding: 6px 20px;
        margin-bottom: 1rem;

        color: rgba(255,255,255,0.75);
    }

    textarea{
        resize: none;
        min-height: 200px;
        padding: 12px 20px;
    }



    label{
        font-size: 0.85rem;
        word-break: keep-all;
        min-width: 80px;

        display: none;
    }
    input::placeholder, textarea::placeholder  {
        font-weight: 300;
        color: #ffffff;
        opacity: 0.25;
    }
    

    .btn{
        font-size: 0.9rem;
        margin: 0;
        min-width: 100px;
        width: 100%;
        
        border-radius: 5rem;

        padding: 1rem 2rem;
    }
}

.node-box{
    &.test{
        //display: inherit;
    }


    @include unDrag;
    @include node;


    //border: 2px solid #ccc; /* 박스 테두리 */
    border-radius: 1rem; /* 박스 모서리 둥글게 */
    width: 200px; /* 박스 너비 */
    position: absolute; /* 위치 조정 가능하도록 설정 */
    cursor: move; /* 마우스 커서를 드래그 가능으로 변경 */
    overflow: hidden;

   

    background: rgba(17, 17, 17, 1);
    backdrop-filter: blur(4px);

    
    position: absolute; 
    z-index: 10;
    // left: 600px; 
    // top: 600px; 
    

    display: flex;
    flex-direction: column-reverse;

    .btn-wrap-close{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5rem;

        border-radius: 10rem;

        .btn-close{
            margin: 4px;
            font-size: 0.75rem;
            &:focus{
                box-shadow: none;
            }
        }

        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(4px);
        transition: 0.2s ease-in;

        &:hover{
            transition: 0.2s ease-in;
            // background-color: $warningColor;
            background-color: rgba(0, 0, 0, 0.6);
        }
        
        
    }
   
    .info{
        margin-bottom: 0.75rem;
        padding: 0.75rem;
        width: 100%;

        p{
            font-size: 0.5rem;
            color: rgba(255,255,255,0.4);
        }
        .prompt{
            font-size: 0.85rem;
            color: rgba(255,255,255,0.85);
        }
    }
    .node-image{
        @include unDrag;
    }
}

#svgContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}